 # ignore all bin directories
    # matches "bin" in any subfolder
    bin/

    # ignore all target directories
    target/

    # ignore all files ending with ~
    *~

    # ignore all files with suo
    *.suo
CustomSpellsMod/.vs/CowWithHatsCustomSpellsMod/v16/.suo
CustomSpellsMod/.vs/CowWithHatsCustomSpellsMod/v16/.suo
CustomSpellsMod/CowWithHatsCustomSpellsMod/bin/
*.ide
*.ide-shm
*.ide-wal
CustomSpellsMod/CowWithHatsCustomSpellsMod/bin/CowWithHatsCustomSpellsMod.zip
*.dll
*.pdb
*.dll
*.pdb
CustomSpellsMod/CowWithHatsCustomSpellsMod/bin/Release/CowWithHatsCustomSpellsMod.zip
*.dll
*.pdb
*.cache
*.dll
*.pdb
*.resources
*.cache
*.dll
*.pdb
*.resources
*.ide
CustomSpellsMod/.vs/
CustomSpellsMod/.vs/CowWithHatsCustomSpellsMod/v16/.suo
CustomSpellsMod/CowWithHatsCustomSpellsMod/obj/Debug/CowWithHatsCustomSpellsMod.csprojAssemblyReference.cache
CustomSpellsMod/CowWithHatsCustomSpellsMod/bin/Debug/settings.json
CustomSpellsMod/CowWithHatsCustomSpellsMod/bin/Debug/info.json
CustomSpellsMod/CowWithHatsCustomSpellsMod/bin/Debug/blueprints.txt
CustomSpellsMod/CowWithHatsCustomSpellsMod/obj/Debug/CowWithHatsCustomSpellsMod.csproj.FileListAbsolute.txt
CustomSpellsMod/CowWithHatsCustomSpellsMod/bin/Release/CowWithHatsCustomSpellsMod/blueprints.txt
CustomSpellsMod/CowWithHatsCustomSpellsMod/bin/Release/CowWithHatsCustomSpellsMod/info.json
CustomSpellsMod/CowWithHatsCustomSpellsMod/bin/Release/CowWithHatsCustomSpellsMod/settings.json
CustomSpellsMod/CowWithHatsCustomSpellsMod/obj/Release/CowWithHatsCustomSpellsMod.csproj.FileListAbsolute.txt
CustomSpellsMod/.vs/CowWithHatsCustomSpellsMod/v16/Server/sqlite3/storage.ide
